@font-face {
  font-family: 'Inter-medium';
  src: url('./fonts/SFUIDisplay-Medium.otf');
}

*{
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Inter-medium', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
