.sidebar{
    position: sticky;
    top: 80px;
    flex: 0.2;
    border-radius: 8px;
    text-align: center;
    height: fit-content;
}

.sidebar__avatar{
    margin-bottom: 8px;
}

.sidebar__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-radius: 8px;
    background-color: white;
    padding-bottom: 8px;
}

.sidebar__top > img {
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.sidebar_stat{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.sidebar__top > h4{
    color: gray;
    font-size: 13px;
    margin: 1em;
}

.sidebar_stats{    
    padding: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.sidebar_stat > p {
    color: gray;
    font-size: 13px;
    font-weight: 600;
    margin: 0em 1em;
}

.sidebar__statnumber{
    font-weight: bold;
    color: #0a66c2 !important;
}

.sidebar__top >h2 {
    font-size: 16px;
}

.sidebar__bottom{
    text-align: left;
    padding: 8px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 8px;
    margin-top: 8px;
}

.sidebar__recentItem{
    display: flex;
    font-size: 13px;
    color: gray;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar__recentItem:hover{
    background-color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
    color: black;
}

.sidebar__hash{
    margin: 0em 0.5em;
}

